<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
        th:fragment="layout(content)">
<head th:replace="/fragment/headConfig :: headConfig(~{::title},~{::link})">
    <meta charset="UTF-8" />
    <title> seongmin </title>
    <link>
</head>

<body>
<!-- header fragment 사용 -->
<div th:replace="/fragment/header :: header(~{::head})"></div>

<!--
    content fragment 사용
    현재 layout을 사용하는 content fragment의 내용을 삽입한다.
-->
<div th:replace="${content}"></div>

<!-- footer fragment 사용 -->
<div th:replace="/fragment/footer :: footer(~{::head})"> </div>
</body>

</html>