<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/default-layout :: layout(~{::body})">
<body>
<div class="item-container">
    <h2> 회원탈퇴 </h2>
    <hr/>
    <form th:action="@{/member/delete/oauth}" th:object="${dto}" method="post">
        <div>
            <p> 아래 내용을 그대로 작성해주세요 </p>
        </div>
        <div class="input-div">
            <label> 계정을 삭제합니다 </label><br/>
            <input class="form-control" placeholder="위에 내용을 그대로 입력해주세요."
                   th:field="*{validatedText}">
            <div th:errors="*{validatedText}" class="field-error">
                validation error
            </div>
        </div>
        <div class="input-div">
            <label> 본인확인을 위해서 이메일을 입력해주세요. </label>
            <input class="form-control" placeholder="이메일을 입력해주세요"
                   th:field="*{value}">
            <div th:errors="*{value}" class="field-error">
                validation error
            </div>
        </div>
        <hr/>
        <div class="item-etc">
            <button type="submit" class="btn btn-danger"
                    th:text="#{profile.btn.delete}"> 회원 탈퇴 </button>
        </div>
    </form>
</div>
</body>
</html>