<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/default-layout :: layout(~{::body})">
<head th:replace="/fragment/headConfig :: headConfig(~{::title},~{::link})">
    <meta charset="UTF-8" />
    <title> seongmin </title>
    <link>
</head>
<body>
  <div class="login-div">
    <h1 th:if="${result}" style="color:red"> 로그인 실패 </h1>
    <div>
      <form action="../../index.html" th:action method="post">
<!--        사용자 아이디 -->
          <div>
              <input placeholder="id" class="user-id"
                     name="userId"/>
          </div>
<!--        사용자 비밀번호(평문) -->
          <div>
              <input placeholder="password" class="password"
                     name="password"/>
          </div>
          <div>
              <button type="submit" class="btn btn-primary"> 로그인 </button>
              <button type="button" class="btn btn-primary"
                      onclick="location.href='../signup/signup.html'"
              th:onclick="|location.href='@{/signup}'|"> 회원가입 </button>
          </div>
      </form>
    </div>
      <div>
          <button type="button" class="btn btn-warning"
          th:onclick="|location.href='@{/oauth2/authorization/kakao}'|"> kakao login </button>
          <button type="button" class="btn btn-danger"
          th:onclick="|location.href='@{/oauth2/authorization/google}'|"> google login </button>
          <button type="button" class="btn btn-success"
          th:onclick="|location.href='@{/oauth2/authorization/naver}'|"> naver login </button>
      </div>
<!--    <a href="https://kauth.kakao.com/oauth/authorize?client_id=607142d2d7fe229e0ca1fecf63974ab7&redirect_uri=http://localhost:8080/code/kakao&response_type=code"> kakao login</a>-->
<!--    <a href="/oauth2/authorize/google"> google login </a>-->
<!--    <a href="/oauth2/authorize/naver"> naver login </a>-->
<!--      <a href="/oauth2/authorize/kakao"> login </a>-->
<!--      <br />-->
<!--      <br/>-->
  </div>
</body>
</html>