<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default-layout :: layout(~{::body})}">
<body>
  <div class="item-container">
    <h1 th:if="${result}" style="color:red"> 로그인 실패 </h1>
    <div>
      <form action="../../index.html" th:action th:object="${member}" method="post">
<!--        사용자 아이디 -->
          <div class="input-div">
              <label class="fs-3"> ID </label>
              <input placeholder="id" class="form-control"
                     th:field="*{userId}"/>
              <div class="field-error" th:errors="*{userId}">
                  validation error
              </div>
          </div>
<!--        사용자 비밀번호(평문) -->
          <div class="input-div">
              <label class="fs-3"> 비밀번호 </label>
              <input placeholder="password" class="form-control"
                     th:field="*{password}" type="password"/>
              <div class="field-error" th:errors="*{password}">
                  validation error
              </div>
          </div>
<!--          로그인을 유지할지를 선택 -->
          <div class="input-div">
              <input type="checkbox"/>
              <label> 로그인 유지 </label>
          </div>
          <hr/>
          <div class="item-etc">
              <button type="submit" class="btn btn-primary"> 로그인 </button>
              <button type="button" class="btn btn-primary"
                      onclick="location.href='../signup/signup.html'"
              th:onclick="|location.href='@{/signup}'|"> 회원가입 </button>
          </div>
      </form>
    </div>
      <hr/>
      <div class="item-etc">
          <button type="button" class="btn btn-warning"
          th:onclick="|location.href='@{/oauth2/authorization/kakao}'|"> kakao login </button>
          <button type="button" class="btn btn-danger"
          th:onclick="|location.href='@{/oauth2/authorization/google}'|"> google login </button>
          <button type="button" class="btn btn-success"
          th:onclick="|location.href='@{/oauth2/authorization/naver}'|"> naver login </button>
      </div>
  </div>
</body>
</html>