<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/default-layout :: layout(~{::body})">
<body>
<div class="item-container">
    <h2> 판매자의 정보 </h2>
    <hr/>
    <div>
        <label th:text="#{profile.label.name}"> 이름 </label>
        <span th:text="${producer.name}"> 판매자의 이름 </span>
    </div>
    <div class="item-etc">
        <button type="button" class="btn btn-primary"
                onclick="location.href='../items/producerItems.html'"
                th:onclick="|location.href='@{/items/{itemId}/producer/info/items(itemId=${itemId})}'|"
                th:text="#{profile.btn.producer}"> 판매 목록 </button>
</div>
</div>
</body>
</html>