<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/default-layout :: layout(~{::body})">
<body>
  <div class="item-container signup-container">
    <form action="index.html" th:action th:object="${member}" method="post">
        <div class="input-div">
            <label class="fs-3"> ID </label>
            <input placeholder="아이디를 입력해주세요" class="form-control"
                   th:field="*{userId}"/>
            <div class="field-error" th:errors="*{userId}">
                validation error
            </div>
            <hr />
            <div class="btn-div">
                <button class="btn btn-secondary"> ID 중복확인 </button>
            </div>
        </div>
<!--      사용자 패스워드(평문) -->
        <div class="input-div">
            <label class="fs-3"> 비밀번호 </label>
            <input placeholder="비밀번호를 입력해주세요" class="form-control"
                   th:field="*{password}"/><br />
            <div class="field-error" th:errors="*{password}">
                validation error
            </div>
            <input placeholder="비밀번호를 다시 입력해주세요" class="form-control"
                   th:field="*{passwordConfirm}"/>
            <div class="field-error" th:errors="*{passwordConfirm}">
                validation error
            </div>
            <div class="field-error" th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"> validation </p>
            </div>
        </div>
<!--      사용자 이름 -->
        <div class="input-div">
            <label class="fs-3"> 이름 </label>
            <input placeholder="이름을 입력해주세요" class="form-control"
                   th:field="*{name}"/>
            <div class="field-error" th:errors="*{name}">
                validation error
            </div>
        </div>
<!--      사용자 email -->
        <div class="input-div">
            <label class="fs-3"> 이메일 </label>
            <input placeholder="이메일을 입력해주세요" class="form-control"
                   th:field="*{email}"/>
            <div class="field-error" th:errors="*{email}">
                validation error
            </div>
            <hr />
            <div class="btn-div">
                <button class="btn btn-secondary"> Email 중복확인 </button>
            </div>
        </div>
        <hr/>
        <div class="btn-div">
            <button class="btn btn-primary" type="submit"> 회원가입 </button>
        </div>
    </form>
  </div>
<script src="/js/signup.js"> </script>
</body>
</html>