<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/headConfig :: headConfig(~{::link},~{::title})">
  <title> 회원가입 </title>
    <link>
</head>
<body>
  <div class="login-div">
    <form action="signup" method="post">
<!--        관리자 or 일반 사용자 선택하는 곳 -->
        <div>
            <button class="admin-btn" onclick="SetAuthToAdminBtn()"> 관리자 </button>
            <button class="user-btn" onclick="SetAuthToUserBtn()"> 사용자 </button>
        </div>
<!--      사용자 아이디 -->
      <div>
        <input placeholder="userId" class="user-id"
        name="userId"/>
        <button class="user-id-check-btn"> 중복확인 </button>
      </div>
<!--      사용자 패스워드(평문) -->
      <input placeholder="password" class="password"
      name="password"/><br />
      <input placeholder="password confirm" class="password-confirm"/><br />
<!--      사용자 이름 -->
      <input placeholder="name"
      name="name"/>
<!--      사용자 email -->
    <input placeholder="email"
           name="email"/>

      <button type="submit"> 회원가입 </button>
    </form>
  </div>
<script src="/js/signup.js"> </script>
</body>
</html>