<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/headConfig :: headConfig(~{::title},~{::link})">
    <title> profile </title>
    <link>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="login-div">
    <form th:action th:object="${dto}" method="post" name="passwordEdit">
        <input th:field="*{password}">
        <input th:field="*{confirm}">
        <button type="button" id="btn"> 수정하기 </button>
    </form>
</div>
<script th:inline="javascript">
    $("#btn").on('click', function() {
        document.passwordEdit.submit();
        $(document).ready(function(){
            window.open("about:blank", "_self").close();
        });
    });
</script>
</body>
</html>