<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="../static/css/basic.css">
    <meta charset="UTF-8">
    <title>spring security exam</title>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div layout:fragment="content">
    <div class="login-div">
            <h2>
                hello spring security exam1
            </h2>
<!--        기능을 정리를 해놓자-->
        <div>
            <div><p> 본인의 권한 </p></div>
            <div><a href="./member/login/login.html"> member( ex) login) </a></div>
            <div><a href="./items/items.html"> items </a></div>
        </div>
    </div>
</div>
</body>
</html>