<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>spring security exam</title>
    <link rel="stylesheet" href="css/basic.css">
</head>
<body>
    <div class="login-div">
        <div class="login-div">
            <h2>
                hello spring security exam
            </h2>
        </div>
        <div class="login-element-div">
            <div>
                <p>
                    login
                </p>
            </div>
            <div>
                <p>
                    signup
                </p>
            </div>
        </div>
    </div>
</body>
</html>