<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/headConfig :: headConfig(~{::title},~{::link})">
    <link>
    <title> spring security exam </title>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div layout:fragment="content">
    <div class="login-div">
        <!--        기능을 정리를 해놓자-->
        <div><h2 th:text="${user.auth}?: _"> 본인의 권한 </h2></div>
        <div><p> 안녕하세요. <span th:text="${user.name}?: _"> 본인의 이름 </span> </p></div>
        <div>
            <button type="button" class="btn btn-secondary"
            onclick="location.href='./items/items.html'"
            th:onclick="|location.href='@{/profile}'|"> profile </button>

            <button type="button" class="btn btn-secondary"
            onclick="location.href='./items/items.html'"
            th:onclick="|location.href='@{/items}'|"> items </button>

            <button type="button" class="btn btn-warning"
            onclick="location.href='../static/html/login/logout.html'"
            th:onclick="|location.href='@{/logout}'|"> logout </button>
        </div>
<!--            <div><a href="./member/login/login.html"-->
<!--                    th:href="@{/login}"> member( ex) login) </a></div>-->
<!--            <div><a href="./items/items.html"-->
<!--                    th:href="@{/items}"> items </a></div>-->
    </div>
</div>
</body>
</html>