<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="css/basic.css">
</head>
<body>
  <div class="login-div">
    <div>
      <form action="/login-proc" method="post">
        <input placeholder="id"/>
        <input placeholder="password"/>
        <button type="submit"> 로그인 </button>
      </form>
    </div>
    <div class="oauth-div"> kakao login</div>
    <div class="oauth-div"> google login </div>
  </div>
</body>
</html>