<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/default-layout :: layout(~{::body})">
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="item-container">
    <h2> 상품 목록 </h2>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{item.head.number}"> 번호 </th>
            <th scope="col" th:text="#{item.head.itemName}"> 상품명 </th>
            <th scope="col" th:text="#{consume.head.quantity}"> 구매수량 </th>
            <th scope="col" th:text="#{consume.head.date}"> 구매날짜 </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <th scope="row" th:text="${itemStat.count}"> emptyCount </th>
            <td th:text="${item.item.itemName}?: test"> emptyName </td>
            <td th:text="${item.quantity}"> emptyPrice </td>
            <td th:text="${item.buyDate}"> emptyQuantity </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>