<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/default-layout :: layout(~{::body})">
<head th:replace="/fragment/headConfig :: headConfig(~{::title},~{::link})">
    <meta charset="UTF-8" />
    <title> seongmin </title>
    <link>
</head>
<body>
<div class="items-container">
    <div class="items-etc">
        <h2 th:text="${result}?: _"> 상품 등록 </h2>
    </div>
    <div class="items-div">
        <form action="item.html" th:action th:object="${item}" method="post">
            <div>
                <div>
                    <label class="fs-3">상품명</label>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                           placeholder="상품명을 입력해주세요" th:field="*{itemName}">
                </div>
            </div>
            <div>
                <div>
                    <label class="fs-3">가격</label>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                           placeholder="가격을 입력해주세요" th:field="*{price}">
                </div>
            </div>
            <div>
                <div>
                    <label class="fs-3">수량</label>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                           placeholder="수량을 입력해주세요" th:field="*{quantity}">
                </div>
            </div>
            <div class="items-etc">
                <button type="submit" class="btn btn-primary"> 상품 등록 </button>
                <button onclick="location.href='items.html'" class="btn btn-primary"
                        th:onclick="|location.href='@{/items}'|" type="button"> 취소 </button>
            </div>
        </form>
    </div>
</div>
<div>
</div>
</body>
</html>