<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2 th:text="${result}?: _"> 상품 등록 </h2>
<form action="item.html" th:action th:object="${item}" method="post">
    <div>
        <label> 상품명 </label><br/>
        <input type="text" placeholder="상품명을 입력해주세요" name="itemName" id="itemName">
    </div>
    <div>
        <label> 가격 </label><br/>
        <input type="text" placeholder="가격을 입력해주세요" name="price" id="price"
       value th:value="${item.price}">
    </div>
    <div>
        <label> 수량 </label><br/>
        <input type="text" placeholder="수량을 입력해주세요" name="quantity" id="quantity"
       value th:value="${item.quantity}">
    </div>
    <button type="submit"> 상품 등록 </button>
    <button onclick="location.href='items.html'"
            th:onclick="|location.href='@{/items}'|" type="button"> 취소 </button>
</form>
<div>

</div>
</body>
</html>