<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2> 상품 수정 </h2>
<form action="item.html" method="post">
    <div>
        <label> 상품ID </label>
        <input readonly value="1">
    </div>
    <div>
        <label> 상품명 </label>
        <input placeholder="상품명을 입력해주세요" name="itemName">
    </div>
    <div>
        <label> 가격 </label>
        <input placeholder="가격을 입력해주세요" name="price">
    </div>
    <div>
        <label> 수량 </label>
        <input placeholder="수량을 입력해주세요" name="quantity">
    </div>
</form>
<div>
    <button type="submit"> 상품 수정 </button>
    <button onclick="location.href='items.html'" type="button"> 취소 </button>
</div>
</body>
</html>