<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default-layout :: layout(~{::body})}">
<body>
    <div class="item-container">
        <h2> 상품 수정 </h2>
        <hr />
        <form action="item.html" th:action th:object="${item}" method="post">
            <div>
                <label class="fs-3"> 상품ID </label>
                <input class="form-control" readonly value="1" th:field="*{id}">
            </div>
            <div>
                <label class="fs-3"> 상품명 </label>
                <input placeholder="상품명을 입력해주세요" class="form-control" th:errorclass="field-error"
                       value="1" th:field="*{itemName}">
                <div class="field-error" th:errors="*{itemName}">
                    validation error
                </div>
            </div>
            <div>
                <label class="fs-3"> 가격 </label>
                <input placeholder="가격을 입력해주세요" class="form-control" th:errorclass="field-error"
                       value="1" th:field="*{price}">
                <div class="field-error" th:errors="*{price}">
                    validation error
                </div>
            </div>
            <div>
                <label class="fs-3"> 수량 </label>
                <input placeholder="수량을 입력해주세요" class="form-control" th:errorclass="field-error"
                       value="1" th:field="*{quantity}">
                <div class="field-error" th:errors="*{quantity}">
                    validation error
                </div>
            </div>
            <hr />
            <div class="item-etc">
                <button type="submit" class="btn btn-primary"> 상품 수정 </button>
                <button onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/items}'|" type="button" class="btn btn-primary"> 목록으로 </button>
                <button onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/items/{itemId}(itemId=${item.id})}'|" type="button" class="btn btn-secondary"> 취소 </button>
            </div>
        </form>
        <hr />
        <form th:action="@{/items/delete/{itemId}(itemId=${item.id})}">
            <div class="item-etc">
                <button type="submit" formmethod="post" class="btn btn-danger btn-bottom"> 삭제 </button>
            </div>
        </form>
    </div>
</body>
</html>