<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/default-layout :: layout(~{::body})">
<head th:replace="/fragment/headConfig :: headConfig(~{::title},~{::link})">
    <meta charset="UTF-8" />
    <title> seongmin </title>
    <link>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="item-container">
    <h2> 상품 목록 </h2>
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" th:text="#{item.head.number}"> 번호 </th>
                <th scope="col" th:text="#{item.head.itemId}"> 상품 ID </th>
                <th scope="col" th:text="#{item.head.itemName}"> 상품명 </th>
                <th scope="col" th:text="#{item.head.price}"> 상품가격 </th>
                <th scope="col" th:text="#{item.head.quantity}"> 수량 </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}" onclick="./item.html" class="header-title"
                th:onclick="|location.href='@{/items/{itemId}(itemId=${item.id})}'|">
                <th scope="row" th:text="${itemStat.count}"> emptyCount </th>
                <td th:text="${item.id}"> emptyId </td>
                <td th:text="${item.itemName}"> emptyName </td>
                <td th:text="${item.price}"> emptyPrice </td>
                <td th:text="${item.quantity}"> emptyQuantity </td>
            </tr>
        </tbody>
    </table>
    <hr/>
<!--    pagination -->
    <div class="pagination-wrap">
        <nav aria-label="Page navigation example" class="item-etc">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="page : ${paging}">
                    <div class="page-link" th:onclick="|location.href='@{/items(page=${page})}'|"
                         th:text="${page}">1</div>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <hr/>
    <div class="item-etc">
        <button type="button" class="btn btn-primary"
        onclick="location.href='./addForm.hrml'"
        th:onclick="|location.href='@{/items/add}'|"> 상품 등록 </button>
    </div>
</div>
</body>
</html>