<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default-layout :: layout(~{::body})}">
<head th:replace="/fragment/headConfig :: headConfig(~{::title},~{::link})">
    <meta charset="UTF-8" />
    <title> seongmin </title>
    <link>
</head>
<body>
<div class="item-container">
    <h2> 상품 상세 </h2>
    <hr/>
<!--    물품의 정보 -->
    <div class="input-div">
        <label class="fs-3"> 상품 ID </label>
        <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                th:value="${item.id}" value="1" readonly>
    </div>
    <div class="input-div">
        <label class="fs-3"> 상품명 </label>
        <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                th:value="${item.itemName}" value="ex1" readonly>
    </div>
    <div class="input-div">
        <label class="fs-3"> 상품가격 </label>
        <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                th:value="${item.price}" value="1000" readonly>
    </div>
    <div class="input-div">
        <label class="fs-3"> 수량 </label>
        <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                th:value="${item.quantity}" value="1" readonly>
    </div>
    <hr/>
<!--    판매자의 정보 -->
    <h4> 판매자 정보 </h4>
    <hr/>
    <div>
        <label> 판매자 </label>
        <span th:text="${producer.name}"> 판매자의 이름 </span>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
        th:onclick="|location.href='@{/items/{itemId}/producer/info(itemId=${item.id})}'|"> 판매자 정보 보기 </button>
    </div>
    <hr/>
    <div class="item-etc">
        <button class="btn btn-primary"
        th:onclick="|window.open('@{/items/{itemId}/buy/popup(itemId=${item.id})}', '구매',
        'width=400, height=430, left=300, top=300')|"> 구매 </button>

        <button class="btn btn-primary" onclick="location.href='./items.html'"
                th:onclick="|location.href='@{/items(page=1)}'|"> 목록으로 </button>

        <button class="btn btn-danger"> 신고 </button>
    </div>
</div>
</body>
</html>