<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/default-layout :: layout(~{::body})">
<head th:replace="/fragment/headConfig :: headConfig(~{::title},~{::link})">
    <meta charset="UTF-8" />
    <title> seongmin </title>
    <link>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="items-container">
    <div class="items-etc">
        <h2> 상품 목록 </h2>
    </div>
    <div class="items-div">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> 번호 </th>
                    <th scope="col"> 상품 ID </th>
                    <th scope="col"> 상품명 </th>
                    <th scope="col"> 상품가격 </th>
                    <th scope="col"> 수량 </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <th scope="row" th:text="${itemStat.count}"> emptyCount </th>
                    <td th:text="${item.id}" onclick="./item.html"
                    th:onclick="|location.href='@{/items/{itemId}(itemId=${item.id})}'|"> emptyId </td>
                    <td th:text="${item.itemName}"> emptyName </td>
                    <td th:text="${item.price}"> emptyPrice </td>
                    <td th:text="${item.quantity}"> emptyQuantity </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="items-etc">
        <button type="button" class="btn btn-primary"
        onclick="location.href='./addForm.hrml'"
        th:onclick="|location.href='@{/items/add}'|"> 상품 등록 </button>
    </div>
</div>
<!--<script th:inline="javascript">-->
<!--</script>-->
</body>
</html>